# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models (очень важно — не хранить большие файлы в git)
*.pkl
*.joblib

# Database
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env
